Submissions
======================

## Introduction

A repository to keep track of problem solving practice, containing solutions from platforms:
{profile_placeholder}

## Contents

<table class='problems'>
    <thead>
        <tr>
            <th>#</th>
            <th>Contest</th>
            <th>Title</th>
            <th>Solution</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
{submission_placeholder}
    </tbody>
</table>